.writing-inputs {
    width: 50%;
    height: 250px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: flex-end;
}

.select {
    width: 180px;
    background: transparent;
    border: 1px solid #c09576;
    color: #c09576;
}

.time-setter {
    display: flex;
    width: 270px;
    min-height: 150px;
    flex-direction: column;
    justify-content: space-around;
}