.App {
  min-height: 100vh;
  display: flex;
}

.schedule {
  margin: auto;
  border: 1px solid violet;
  width: 70%;
  min-height: 500px;
  width: 70%;
}

.time-setter {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid salmon;
}
